<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turtle Shelter Events</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<script>
    // Show modal for editing event details
    function openModal() {
        document.getElementById('addModal').classList.remove('hidden');
    }

    // Hide modal
    function handleCancel() {
        document.getElementById('addModal').classList.add('hidden');
    }
</script>

<body class="bg-gray-50 font-sans">

    <div class="container mx-auto py-12 px-6 space-y-6">
        <div class="flex flex-row justify-between items-center mt-6">
            <h2 class="text-2xl font-bold text-gray-800">All Events</h2>
            <button onclick="openModal({})" class="px-4 py-2 bg-teal-500 text-white rounded-md hover:bg-teal-600">
                Add Event
            </button>
        </div>

        <div class="space-y-4">
            <% if (events && events.length> 0) { %>
                <% events.forEach(event=> { %>
                    <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg cursor-pointer flex flex-row"
                        onclick="window.location.href = '/events/' + '<%= event.eventid %>';">
                        <div class="flex flex-col">
                            <h3 class="text-xl font-semibold text-gray-700">
                                <%= new Date(event.date).toLocaleDateString('en-US', { year: 'numeric' , month: 'short'
                                    , day: 'numeric' }) %> - <%= event.organization %> - <%= event.status %>
                            </h3>
                            <p class="mt-2 text-gray-600">
                                <%= event.address %>, <%= event.city %>
                                        <%= event.state %>
                            </p>
                        </div>
                    </div>
        </div>
        <% }) %>
            <% } else { %>
                <div class="bg-white p-6 rounded-lg shadow-md">
                    <p class="text-gray-700">No events available.</p>
                </div>
                <% } %>
    </div>
    </div>

    <!-- ^ ADD EVENT -->
    <div id="addModal" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex justify-center items-center z-50 hidden">
        <form id="addEventForm" action="/addEvent" method="POST"
            class="bg-white p-8 rounded-lg shadow-md w-fit max-w-6xl">
            <h2 class="text-2xl font-bold text-gray-800 mb-4">Event Information</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

                <!-- ORGANIZATION -->
                <div>
                    <label for="organization" class="block text-gray-700">Organization</label>
                    <input type="text" id="organization" value=""
                        class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                </div>

                <!-- STATUS -->
                <div>
                    <label for="status" class="block text-gray-700">Status</label>
                    <select id="status"
                        class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                        <option value="Pending">Pending</option>
                        <option value="Scheduled">Scheduled</option>
                        <option value="Completed">Completed</option>
                    </select>
                </div>

                <!-- START DATE/TIME -->
                <div class="grid grid-cols-3 gap-4">
                    <div>
                        <label for="date" class="block text-gray-700">Date</label>
                        <input type="date" id="date" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                    <div>
                        <label for="starttime" class="block text-gray-700">Start Time</label>
                        <input type="time" id="starttime" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                    <div>
                        <label for="plannedduration" class="block text-gray-700">Planned Duration (hrs)</label>
                        <input type="number" id="plannedduration" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                </div>

                <!-- ADDRESS -->
                <div class="grid grid-cols-4 gap-4">
                    <div>
                        <label for="address" class="block text-gray-700">Address</label>
                        <input type="text" id="address" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                    <div>
                        <label for="city" class="block text-gray-700">City</label>
                        <input type="text" id="city" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                    <div>
                        <label for="state" class="block text-gray-700">State</label>
                        <input type="text" id="state" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                    <div>
                        <label for="zip" class="block text-gray-700">Zip Code</label>
                        <input type="text" id="zip" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                </div>

                <!-- SERVICE TYPE -->
                <div>
                    <label for="servicetypeid" class="block text-gray-700">Service Type ID</label>
                    <input type="text" id="servicetypeid" value=""
                        class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                </div>

                <!-- JEN RELATED STUFF -->
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <label for="jenstory" class="block text-gray-700">Jen Story</label>
                        <div class="mt-2">
                            <label class="inline-flex items-center">
                                <input type="radio" name="jenstory" value="true" class="form-radio">
                                <span class="ml-2">Requested</span>
                            </label>
                            <label class="inline-flex items-center ml-6">
                                <input type="radio" name="jenstory" value="false" class="form-radio">
                                <span class="ml-2">Not Requested</span>
                            </label>
                        </div>
                    </div>
                    <div>
                        <label for="jenstorylength" class="block text-gray-700">Jen Story Length (mins)</label>
                        <input type="text" id="jenstorylength" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                </div>

                <!-- EQUIPMENT -->
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <label for="sergers" class="block text-gray-700">Sergers</label>
                        <input type="number" id="sergers" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                    <div>
                        <label for="sewingmachines" class="block text-gray-700">Sewing Machines</label>
                        <input type="number" id="sewingmachines" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                </div>

                <!-- ATTENDEES -->
                <div class="grid grid-cols-4 gap-4">
                    <div>
                        <label for="childrenunder10" class="block text-gray-700">Children < 10</label>
                                <input type="number" id="childrenunder10" value=""
                                    class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                    <div>
                        <label for="adultparticipants" class="block text-gray-700">Adults</label>
                        <input type="number" id="adultparticipants" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                    <div>
                        <label for="advancedsewers" class="block text-gray-700">Adv. Sewers</label>
                        <input type="number" id="advancedsewers" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                    <div>
                        <label for="basicsewers" class="block text-gray-700">Basic Sewers</label>
                        <input type="number" id="basicsewers" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                </div>

                <!-- VENUE INFO -->
                <div class="grid grid-cols-4 gap-4">
                    <div>
                        <label for="venuesize" class="block text-gray-700">Venue sq. ft.</label>
                        <input type="text" id="venuesize" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                    <div>
                        <label for="numrooms" class="block text-gray-700">Rooms</label>
                        <input type="number" id="numrooms" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                    <div>
                        <label for="numtablesround" class="block text-gray-700">Round Tables</label>
                        <input type="number" id="numtablesround" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                    <div>
                        <label for="numtablesrectangle" class="block text-gray-700">Rect. Tables</label>
                        <input type="number" id="numtablesrectangle" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                </div>

                <!-- DETAILS -->
                <div>
                    <label for="details" class="block text-gray-700">Details</label>
                    <textarea id="details"
                        class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500"></textarea>
                </div>
            </div>
            <div class="mt-6 flex justify-between gap-4">
                <button type="button" onclick="handleCancel()"
                    class="px-6 py-2 bg-gray-600 text-white rounded-lg shadow-md hover:bg-gray-700">Cancel</button>
                <button id="saveBtn" type="submit"
                    class="px-6 py-2 bg-teal-500 text-white rounded-lg shadow-md hover:bg-teal-600">Save</button>
            </div>
    </div>
    </div>

</body>

</html>
