<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turtle Shelter Events</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<script>
    // Show modal for editing event details
    function openModal(event) {
        document.getElementById('viewSection').classList.add('hidden');
        document.getElementById('editButton').classList.add('hidden');
        document.getElementById('editSection').classList.remove('hidden');
        document.getElementById('cancelButton').classList.remove('hidden');
        document.getElementById('deleteButton').classList.remove('hidden');
        document.getElementById('saveButton').classList.remove('hidden');
    };

    // Hide modal
    function closeModal() {
        document.getElementById('viewSection').classList.remove('hidden');
        document.getElementById('editButton').classList.remove('hidden');
        document.getElementById('editSection').classList.add('hidden');
        document.getElementById('cancelButton').classList.add('hidden');
        document.getElementById('deleteButton').classList.add('hidden');
        document.getElementById('saveButton').classList.add('hidden');
    };

    function saveChanges() {
        closeModal();
        document.getElementById('editSection').submit();
    };

    function deleteEvent() {
        closeModal();
        document.getElementById('editSection').action = '/deleteEvent';
        document.getElementById('editSection').submit();
    };

    function toggleStatus() {
        const status = document.getElementById('status').value;
        const completedEvent = document.getElementsByClassName('completedEvent');
        if (status === 'Completed') {
            for (let i in completedEvent) {
                completedEvent[i].classList.remove('hidden');
            };
        } else {
            for (let i in completedEvent) {
                completedEvent[i].classList.add('hidden');
            };
        };
    };

    function addItem() {
        const template = document.getElementById('itemTemplate').content.cloneNode(true);
        document.querySelector('#itemSection .grid').appendChild(template);
    };

    function addDate() {
        const template = document.getElementById('dateTemplate').content.cloneNode(true);
        document.querySelector('#dateSection .grid').appendChild(template);
    };

    function addContact() {
        const template = document.getElementById('contactTemplate').content.cloneNode(true);
        document.querySelector('#contactSection .grid').appendChild(template);
    };

    function deleteDate(element, dateid) {
        element.parentElement.parentElement.parentElement.remove();

        fetch('/deleteDate', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ dateid: dateid, eventid: "<%= event.eventid %>" })
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.success) {
                    console.log('Date deleted successfully');
                } else {
                    console.error('Failed to delete date');
                }
            })
            .catch(error => console.error('Error:', error));
    };
</script>

<body class="bg-gray-50 font-sans">
    <div class="container justify-center items-center mx-auto py-12 px-6">
        <div class="flex flex-row justify-between items-center">

            <!-- HEADER -->
            <a href="/events" class="px-4 py-2 mt-10 bg-gray-100 text-gray-800 rounded-md hover:bg-gray-200">Back to
                Events</a>
            <h1 class="text-3xl font-bold text-gray-800 mb-2 mt-10">
                <%= event && event.organization ? event.organization + "'s Event" : "Distribution Event" %>
            </h1>

            <!-- BUTTONS -->
            <div class="flex flex-row gap-4">
                <button id="editButton" onclick="openModal(event)"
                    class="px-4 py-2 bg-teal-500 text-white rounded-md hover:bg-teal-600 mt-10">
                    Edit Event
                </button>
                <button id="cancelButton" onclick="closeModal()"
                    class="px-4 py-2 bg-gray-400 text-white rounded-md hover:bg-gray-500 mt-10 hidden">
                    Cancel
                </button>
                <button id="deleteButton" onclick="deleteEvent()"
                    class="px-4 py-2 bg-red-300 text-white rounded-md hover:bg-red-400 mt-10 hidden">
                    Delete
                </button>
                <button id="saveButton" onclick="saveChanges()"
                    class="px-4 py-2 bg-teal-500 text-white rounded-md hover:bg-teal-600 mt-10 hidden">
                    Save
                </button>
            </div>
        </div>

        <!-- VIEWER -->
        <div id="viewSection" class="bg-white p-6 rounded-xl shadow-md mt-6 border">
            <h2 class="text-2xl font-bold text-gray-800 mb-4">Event Information</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <!-- TODO If it's pending and there's more than one date then say that she needs to delete other dates -->
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    <div class="flex flex-col gap-2">

                        <label class="block text-gray-700">Start Time</label>
                        <p class="mt-2 text-gray-600">
                            <%= new Date('1970-01-01T' + event.starttime).toLocaleTimeString('en-US', { hour: '2-digit'
                                , minute: '2-digit' }) %>
                                - <%= new Date(new Date('1970-01-01T' + event.starttime).getTime() +
                                    event.plannedduration * 60 * 60 * 1000).toLocaleTimeString('en-US', {
                                    hour: '2-digit' , minute: '2-digit' }) %>
                        </p>
                    </div>
                    <div class="flex flex-col gap-2">
                        <label class="block text-gray-700">Date Options</label>
                        <% dates.forEach(function(date) { %>
                            <p class="mt-2 text-gray-600">
                                <%= new Date(date.date).toLocaleDateString('en-US', { weekday: 'long' , year: 'numeric'
                                    , month: 'short' , day: 'numeric' }) %>
                            </p>
                            <% }); %>
                    </div>
                </div>
                <div>
                    <label class="block text-gray-700">Status</label>
                    <p
                        class="mt-2 text-gray-600 font-bold <%= event.status === 'Completed' ? 'text-green-600' : (event.status === 'Pending' ? 'text-yellow-600' : 'text-sky-500') %>">
                        <%= event.status %>
                    </p>
                </div>
                <div>
                    <label class="block text-gray-700">Details</label>
                    <p class="mt-2 text-gray-600">
                        <%= event.details %>
                    </p>
                </div>

                <% if (event.organization) { %>
                    <div>
                        <label class="block text-gray-700">Service Type</label>
                        <p class="mt-2 text-gray-600">
                            <%= event.description %>
                        </p>
                    </div>
                    <% } %>

                        <% if (event.organization) { %>
                            <div class="bg-white shadow-md rounded-xl p-4 border">
                                <div class="flex flex-col gap-0">
                                    <h3 class="text-xl font-bold text-gray-800 mb-4">Jen's Story</h3>
                                    <div class="flex flex-row gap-8">
                                        <div>
                                            <label class="block text-gray-700">Jen Story</label>
                                            <p class="mt-2 text-gray-600">
                                                <%= event.jenstory===true ? "Requested" : "Not Requested" %>
                                            </p>
                                        </div>
                                        <div>
                                            <label class="block text-gray-700">Story Length</label>
                                            <p class="mt-2 text-gray-600">
                                                <%= event.jenstorylength %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>

                                <% if (event.organization) { %>
                                    <div class="bg-white shadow-md rounded-xl p-4 border">
                                        <div class="flex flex-col gap-0">
                                            <h3 class="text-xl font-bold text-gray-800 mb-4">Predicted
                                                Attendance</h3>
                                            <div class="flex flex-row gap-8">
                                                <div>
                                                    <label class="block text-gray-700">Adults</label>
                                                    <p class="mt-2 text-gray-600">
                                                        <%= event.adultparticipants %>
                                                    </p>
                                                </div>
                                                <div>
                                                    <label class="block text-gray-700">Children Under 10</label>
                                                    <p class="mt-2 text-gray-600">
                                                        <%= event.childrenunder10 %>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>

                                        <!-- EQUIPMENT -->
                                        <% if (event.organization) { %>
                                            <div class="bg-white shadow-md rounded-xl p-4 border flex flex-col gap-4">
                                                <div class="flex flex-col gap-0">
                                                    <h3 class="text-xl font-bold text-gray-800 mb-4">Equipment
                                                    </h3>
                                                    <div class="flex flex-row gap-8 justify-between">
                                                        <div>
                                                            <label class="block text-gray-700">Basic
                                                                Sewers</label>
                                                            <p class="mt-2 text-gray-600">
                                                                <%= event.basicsewers %>
                                                            </p>
                                                        </div>
                                                        <div>
                                                            <label class="block text-gray-700">Advanced
                                                                Sewers</label>
                                                            <p class="mt-2 text-gray-600">
                                                                <%= event.advancedsewers %>
                                                            </p>
                                                        </div>
                                                        <div>
                                                            <label class="block text-gray-700">Sewing
                                                                Machines</label>
                                                            <p class="mt-2 text-gray-600">
                                                                <%= event.sewingmachines %>
                                                            </p>
                                                        </div>
                                                        <div>
                                                            <label class="block text-gray-700">Sergers</label>
                                                            <p class="mt-2 text-gray-600">
                                                                <%= event.sergers %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>

                                                <!-- VENUE -->
                                                <% if (event.organization) { %>
                                                    <div
                                                        class="bg-white shadow-md rounded-xl p-4 border flex flex-col gap-4">
                                                        <div class="flex flex-col gap-0">
                                                            <div class="flex flex-row gap-4 items-baseline">
                                                                <h3 class="text-xl font-bold text-gray-800 mb-4">
                                                                    Venue
                                                                </h3>
                                                                <p class="text-md text-gray-600 mb-4">Address:
                                                                    <%= event.address %>,
                                                                        <%= event.city %>, <%= event.state %>
                                                                                <%= event.zip %>
                                                                </p>
                                                            </div>
                                                            <div class="flex flex-row gap-8 justify-between">
                                                                <div>
                                                                    <label class="block text-gray-700">Size
                                                                        Requirement</label>
                                                                    <p class="mt-2 text-gray-600">
                                                                        <%= event.venuesize %> sq. ft.
                                                                    </p>
                                                                </div>
                                                                <div>
                                                                    <label class="block text-gray-700">Rooms</label>
                                                                    <p class="mt-2 text-gray-600">
                                                                        <%= event.numrooms %>
                                                                    </p>
                                                                </div>
                                                                <div>
                                                                    <label class="block text-gray-700">Round
                                                                        Tables</label>
                                                                    <p class="mt-2 text-gray-600">
                                                                        <%= event.numtablesround %>
                                                                    </p>
                                                                </div>
                                                                <div>
                                                                    <label class="block text-gray-700">Rectangle
                                                                        Tables</label>
                                                                    <p class="mt-2 text-gray-600">
                                                                        <%= event.numtablesrectangle %>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% } %>
            </div>
            <% if (!event.organization && event.status==="Completed" ) { %>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
                    <div class="bg-white shadow-md rounded-xl p-4 border flex flex-col gap-4">
                        <h3 class="text-xl font-bold text-gray-800">
                            Post-Event Details</h3>
                        <div class="flex flex-col gap-4">
                            <div class="flex flex-col gap-0">
                                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                                    <div>
                                        <label class="block text-gray-700">Temperature</label>
                                        <p class="mt-2 text-gray-600">
                                            <%= event.temperature ? event.temperature : 32 %>°F
                                        </p>
                                    </div>
                                    <div>
                                        <label class="block text-gray-700">Total Recipients</label>
                                        <p class="mt-2 text-gray-600">
                                            <%= event.totalRecipients ? event.totalRecipients : 10 %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
                    <% if (event.organization) { %>
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
                            <div class="bg-white shadow-md rounded-xl p-4 border flex flex-col gap-4">
                                <h3 class="text-xl font-bold text-gray-800">
                                    Contact Information</h3>
                                <div class="flex flex-col gap-4">
                                    <% requesters.forEach(function(requester) { %>
                                        <div class="flex flex-col gap-0">
                                            <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                                                <div>
                                                    <label class="block text-gray-700">Name</label>
                                                    <p class="mt-2 text-gray-600">
                                                        <%= requester.firstname %>
                                                            <%= requester.lastname %>
                                                    </p>
                                                </div>
                                                <div>
                                                    <label class="block text-gray-700">Phone</label>
                                                    <p class="mt-2 text-gray-600">
                                                        <%= requester.phone %>
                                                    </p>
                                                </div>
                                                <div>
                                                    <label class="block text-gray-700">Email</label>
                                                    <p class="mt-2 text-gray-600">
                                                        <%= requester.email %>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <% }); %>
                                </div>
                            </div>
                            <% } %>
                                <% if (event.organization) { %>
                                    <!-- HEAD COUNT SERVICE HOURS -->
                                    <div class="grid grid-cols-1 md:grid-cols-1 gap-6">
                                        <div class="bg-white shadow-md rounded-xl p-4 border flex flex-col gap-4">
                                            <h3 class="text-xl font-bold text-gray-800">
                                                Post-Event Information</h3>
                                            <div class="flex flex-col gap-4">
                                                <% requesters.forEach(function(requester) { %>
                                                    <div class="flex flex-col gap-0">
                                                        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                                                            <div>
                                                                <label class="block text-gray-700">Head Count</label>
                                                                <p class="mt-2 text-gray-600">
                                                                    <%= event.headcount %>
                                                                </p>
                                                            </div>
                                                            <div>
                                                                <label class="block text-gray-700">Service Hours</label>
                                                                <p class="mt-2 text-gray-600">
                                                                    <%= event.servicehours%>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% }); %>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                        </div>
                        <!-- ITEMS -->
                        <% if (event.organization && event.status==="Completed" ) { %>
                            <div class="bg-white shadow-md rounded-xl mt-6 p-4 border flex flex-col gap-4">
                                <h3 class="text-xl font-bold text-gray-800">
                                    Items Made</h3>
                                <% eventitems.forEach(function(eventitem) { %>
                                    <div id="itemDiv" class="grid grid-cols-2 gap-4">
                                        <div>
                                            <label for="item" class="block text-gray-700">Item</label>
                                            <p class="mt-2 text-gray-600">
                                                <%= eventitem.description %>
                                            </p>
                                        </div>
                                        <div>
                                            <label for="quantity" class="block text-gray-700">Quantity</label>
                                            <p class="mt-2 text-gray-600">
                                                <%= eventitem.quantity %>
                                            </p>
                                        </div>
                                    </div>
                                    <% }); %>
                            </div>
                            <% } %>

        </div>

        <!-- EDITOR -->
        <form action="/editEvent" method="POST" id="editSection" class="bg-white p-6 rounded-lg shadow-md mt-6 hidden">
            <h2 class="text-2xl font-bold text-gray-800 mb-4">Event Information</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div class="hidden"><input type="hidden" name="eventid" value="<%= event.eventid %>"></div>

                <!-- ORGANIZATION -->
                <% if (event.organization) { %>
                    <div>
                        <label for="organization" class="block text-gray-700">Organization</label>
                        <input name="organization" type="text" id="organization" value="<%= event.organization || '' %>"
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                    <% } %>

                        <!-- STATUS -->
                        <div>
                            <label for="status" class="block text-gray-700">Status</label>
                            <select name="status" id="status"
                                class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500"
                                onchange="toggleStatus()">
                                <option value="Pending" <%=event.status==='Pending' ? 'selected' : '' %>>Pending
                                </option>
                                <option value="Scheduled" <%=event.status==='Scheduled' ? 'selected' : '' %>>Scheduled
                                </option>
                                <option value="Completed" <%=event.status==='Completed' ? 'selected' : '' %>>Completed
                                </option>
                            </select>
                        </div>

                        <!-- ADDRESS -->
                        <div class="grid grid-cols-4 gap-4">
                            <div>
                                <label for="address" class="block text-gray-700">Address</label>
                                <input name="address" type="text" id="address" value="<%= event.address %>"
                                    class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                            </div>
                            <div>
                                <label for="city" class="block text-gray-700">City</label>
                                <input name="city" type="text" id="city" value="<%= event.city %>"
                                    class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                            </div>
                            <div>
                                <label for="state" class="block text-gray-700">State</label>
                                <select name="state" id="state"
                                    class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500">
                                    <option value="" disabled>Select State</option>
                                    <option value="AL" <%=event.state==='AL' ? 'selected' : '' %>>Alabama</option>
                                    <option value="AK" <%=event.state==='AK' ? 'selected' : '' %>>Alaska</option>
                                    <option value="AZ" <%=event.state==='AZ' ? 'selected' : '' %>>Arizona</option>
                                    <option value="AR" <%=event.state==='AR' ? 'selected' : '' %>>Arkansas</option>
                                    <option value="CA" <%=event.state==='CA' ? 'selected' : '' %>>California</option>
                                    <option value="CO" <%=event.state==='CO' ? 'selected' : '' %>>Colorado</option>
                                    <option value="CT" <%=event.state==='CT' ? 'selected' : '' %>>Connecticut</option>
                                    <option value="DE" <%=event.state==='DE' ? 'selected' : '' %>>Delaware</option>
                                    <option value="FL" <%=event.state==='FL' ? 'selected' : '' %>>Florida</option>
                                    <option value="GA" <%=event.state==='GA' ? 'selected' : '' %>>Georgia</option>
                                    <option value="HI" <%=event.state==='HI' ? 'selected' : '' %>>Hawaii</option>
                                    <option value="ID" <%=event.state==='ID' ? 'selected' : '' %>>Idaho</option>
                                    <option value="IL" <%=event.state==='IL' ? 'selected' : '' %>>Illinois</option>
                                    <option value="IN" <%=event.state==='IN' ? 'selected' : '' %>>Indiana</option>
                                    <option value="IA" <%=event.state==='IA' ? 'selected' : '' %>>Iowa</option>
                                    <option value="KS" <%=event.state==='KS' ? 'selected' : '' %>>Kansas</option>
                                    <option value="KY" <%=event.state==='KY' ? 'selected' : '' %>>Kentucky</option>
                                    <option value="LA" <%=event.state==='LA' ? 'selected' : '' %>>Louisiana</option>
                                    <option value="ME" <%=event.state==='ME' ? 'selected' : '' %>>Maine</option>
                                    <option value="MD" <%=event.state==='MD' ? 'selected' : '' %>>Maryland</option>
                                    <option value="MA" <%=event.state==='MA' ? 'selected' : '' %>>Massachusetts</option>
                                    <option value="MI" <%=event.state==='MI' ? 'selected' : '' %>>Michigan</option>
                                    <option value="MN" <%=event.state==='MN' ? 'selected' : '' %>>Minnesota</option>
                                    <option value="MS" <%=event.state==='MS' ? 'selected' : '' %>>Mississippi</option>
                                    <option value="MO" <%=event.state==='MO' ? 'selected' : '' %>>Missouri</option>
                                    <option value="MT" <%=event.state==='MT' ? 'selected' : '' %>>Montana</option>
                                    <option value="NE" <%=event.state==='NE' ? 'selected' : '' %>>Nebraska</option>
                                    <option value="NV" <%=event.state==='NV' ? 'selected' : '' %>>Nevada</option>
                                    <option value="NH" <%=event.state==='NH' ? 'selected' : '' %>>New Hampshire</option>
                                    <option value="NJ" <%=event.state==='NJ' ? 'selected' : '' %>>New Jersey</option>
                                    <option value="NM" <%=event.state==='NM' ? 'selected' : '' %>>New Mexico</option>
                                    <option value="NY" <%=event.state==='NY' ? 'selected' : '' %>>New York</option>
                                    <option value="NC" <%=event.state==='NC' ? 'selected' : '' %>>North Carolina
                                    </option>
                                    <option value="ND" <%=event.state==='ND' ? 'selected' : '' %>>North Dakota</option>
                                    <option value="OH" <%=event.state==='OH' ? 'selected' : '' %>>Ohio</option>
                                    <option value="OK" <%=event.state==='OK' ? 'selected' : '' %>>Oklahoma</option>
                                    <option value="OR" <%=event.state==='OR' ? 'selected' : '' %>>Oregon</option>
                                    <option value="PA" <%=event.state==='PA' ? 'selected' : '' %>>Pennsylvania</option>
                                    <option value="RI" <%=event.state==='RI' ? 'selected' : '' %>>Rhode Island</option>
                                    <option value="SC" <%=event.state==='SC' ? 'selected' : '' %>>South Carolina
                                    </option>
                                    <option value="SD" <%=event.state==='SD' ? 'selected' : '' %>>South Dakota</option>
                                    <option value="TN" <%=event.state==='TN' ? 'selected' : '' %>>Tennessee</option>
                                    <option value="TX" <%=event.state==='TX' ? 'selected' : '' %>>Texas</option>
                                    <option value="UT" <%=event.state==='UT' ? 'selected' : '' %>>Utah</option>
                                    <option value="VT" <%=event.state==='VT' ? 'selected' : '' %>>Vermont</option>
                                    <option value="VA" <%=event.state==='VA' ? 'selected' : '' %>>Virginia</option>
                                    <option value="WA" <%=event.state==='WA' ? 'selected' : '' %>>Washington</option>
                                    <option value="WV" <%=event.state==='WV' ? 'selected' : '' %>>West Virginia</option>
                                    <option value="WI" <%=event.state==='WI' ? 'selected' : '' %>>Wisconsin</option>
                                    <option value="WY" <%=event.state==='WY' ? 'selected' : '' %>>Wyoming</option>
                                </select>
                            </div>
                            <div>
                                <label for="zip" class="block text-gray-700">Zip Code</label>
                                <input name="zip" type="text" id="zip" value="<%= event.zip %>"
                                    class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                            </div>
                        </div>

                        <!-- SERVICE TYPE -->
                        <% if (event.organization) { %>
                            <div>
                                <label for="servicetypeid" class="block text-gray-700">Service Type</label>
                                <select name="servicetypeid" id="servicetypeid"
                                    class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                                    <% servicetypes.forEach(function(servicetype) { %>
                                        <option value="<%= servicetype.servicetypeid %>"
                                            <%=servicetype.description===event.description ? 'selected' : '' %>
                                            ><%= servicetype.description %>
                                        </option>
                                        <% }); %>
                                </select>
                            </div>
                            <% } %>

                                <!-- JEN RELATED STUFF -->
                                <% if (event.organization) { %>
                                    <div class="grid grid-cols-2 gap-4">
                                        <div>
                                            <label for="jenstory" class="block text-gray-700">Jen Story</label>
                                            <div class="mt-2">
                                                <label class="inline-flex items-center">
                                                    <input type="radio" name="jenstory" value="true" class="form-radio"
                                                        <%=event.jenstory===true ? 'checked' : '' %>>
                                                    <span class="ml-2">Requested</span>
                                                </label>
                                                <label class="inline-flex items-center ml-6">
                                                    <input type="radio" name="jenstory" value="false"
                                                        onclick="document.getElementById('jenstorylength').value = 0;"
                                                        class="form-radio" <%=event.jenstory===false ? 'checked' : ''
                                                        %>>
                                                    <span class="ml-2">Not Requested</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div>
                                            <label for="jenstorylength" class="block text-gray-700">Jen Story Length
                                                (mins)</label>
                                            <input name="jenstorylength" type="number" id="jenstorylength" min="0"
                                                value="<%= event.jenstorylength %>"
                                                oninput="if(document.querySelector('input[name=jenstory]:checked').value === 'false') this.value = 0;"
                                                class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                                        </div>
                                    </div>
                                    <% } %>

                                        <!-- EQUIPMENT -->
                                        <% if (event.organization) { %>
                                            <div class="grid grid-cols-2 gap-4">
                                                <div>
                                                    <label for="sergers" class="block text-gray-700">Sergers</label>
                                                    <input name="sergers" type="number" id="sergers" min="0"
                                                        value="<%= event.sergers %>"
                                                        class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                                                </div>
                                                <div>
                                                    <label for="sewingmachines" class="block text-gray-700">Sewing
                                                        Machines</label>
                                                    <input name="sewingmachines" type="number" min="0"
                                                        id="sewingmachines" value="<%= event.sewingmachines %>"
                                                        class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                                                </div>
                                            </div>
                                            <% } %>

                                                <!-- ATTENDEES -->
                                                <% if (event.organization) { %>
                                                    <div class="grid grid-cols-4 gap-4">
                                                        <div>
                                                            <label for="childrenunder10"
                                                                class="block text-gray-700">Children < 10</label>
                                                                    <input name="childrenunder10" type="number" min="0"
                                                                        id="childrenunder10"
                                                                        value="<%= event.childrenunder10 %>"
                                                                        class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                                                        </div>
                                                        <div>
                                                            <label for="adultparticipants"
                                                                class="block text-gray-700">Adults</label>
                                                            <input name="adultparticipants" type="number" min="1"
                                                                id="adultparticipants"
                                                                value="<%= event.adultparticipants %>"
                                                                class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                                                        </div>
                                                        <div>
                                                            <label for="advancedsewers" class="block text-gray-700">Adv.
                                                                Sewers</label>
                                                            <input name="advancedsewers" type="number" min="0"
                                                                id="advancedsewers" value="<%= event.advancedsewers %>"
                                                                class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                                                        </div>
                                                        <div>
                                                            <label for="basicsewers" class="block text-gray-700">Basic
                                                                Sewers</label>
                                                            <input name="basicsewers" type="number" id="basicsewers"
                                                                min="0" value="<%= event.basicsewers %>"
                                                                class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                                                        </div>
                                                    </div>
                                                    <% } %>

                                                        <!-- VENUE INFO -->
                                                        <% if (event.organization) { %>
                                                            <div class="grid grid-cols-4 gap-4">
                                                                <div>
                                                                    <label for="venuesize"
                                                                        class="block text-gray-700">Venue
                                                                        Size</label>
                                                                    <input name="venuesize" type="text" id="venuesize"
                                                                        min="0" value="<%= event.venuesize %>"
                                                                        class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                                                                </div>
                                                                <div>
                                                                    <label for="numrooms"
                                                                        class="block text-gray-700">Rooms</label>
                                                                    <input name="numrooms" type="number" id="numrooms"
                                                                        min="0" value="<%= event.numrooms %>"
                                                                        class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                                                                </div>
                                                                <div>
                                                                    <label for="numtablesround"
                                                                        class="block text-gray-700">Round
                                                                        Tables</label>
                                                                    <input name="numtablesround" type="number" min="0"
                                                                        id="numtablesround"
                                                                        value="<%= event.numtablesround %>"
                                                                        class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                                                                </div>
                                                                <div>
                                                                    <label for="numtablesrectangle"
                                                                        class="block text-gray-700">Rect.
                                                                        Tables</label>
                                                                    <input name="numtablesrectangle" type="number"
                                                                        min="0" id="numtablesrectangle"
                                                                        value="<%= event.numtablesrectangle %>"
                                                                        class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                                                                </div>
                                                            </div>
                                                            <% } %>

                                                                <div
                                                                    class="grid grid-cols-3 gap-4 completedEvent hidden">
                                                                    <!-- TEMP -->
                                                                    <% if (!event.organization) { %>
                                                                        <div class="completedEvent hidden">
                                                                            <label for="temp"
                                                                                class="block text-gray-700">Temperature</label>
                                                                            <input name="temp" type="text" id="temp"
                                                                                value="<%= event.temp %>" required
                                                                                class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                                                                        </div>
                                                                        <% } %>

                                                                            <!-- HEAD COUNT -->
                                                                            <div class="completedEvent hidden">
                                                                                <label for="headcount"
                                                                                    class="block text-gray-700">Head
                                                                                    Count</label>
                                                                                <input name="headcount" type="number"
                                                                                    id="headcount"
                                                                                    value="<%= event.headcount %>"
                                                                                    required
                                                                                    class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                                                                            </div>

                                                                            <!-- SERVICE HOURS -->
                                                                            <div class="completedEvent hidden">
                                                                                <label for="servicehours"
                                                                                    class="block text-gray-700">Service
                                                                                    Hours</label>
                                                                                <input name="servicehours" type="number"
                                                                                    id="servicehours"
                                                                                    value="<%= event.servicehours %>"
                                                                                    required
                                                                                    class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                                                                            </div>
                                                                </div>

                                                                <!-- ITEM AND QUANTITY -->
                                                                <div id="itemSection"
                                                                    class="flex flex-col completedEvent hidden">
                                                                    <div id="itemDiv" class="grid grid-cols-2 gap-4">
                                                                        <% eventitems.forEach(function(eventitem) { %>
                                                                            <div>
                                                                                <label for="item"
                                                                                    class="block text-gray-700">Item</label>
                                                                                <select name="item" id="item"
                                                                                    class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                                                                                    <option
                                                                                        value="<%= eventitem.itemid %>">
                                                                                        <%= eventitem.description %>
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                            <div>
                                                                                <label for="quantity"
                                                                                    class="block text-gray-700">Quantity</label>
                                                                                <input name="quantity" type="number"
                                                                                    id="quantity"
                                                                                    value="<%= eventitem.quantity %>"
                                                                                    class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                                                                            </div>
                                                                            <% }); %>
                                                                    </div>
                                                                    <!-- ADD ITEM BUTTON -->
                                                                    <div class="col-span-2">
                                                                        <button type="button" onclick="addItem()"
                                                                            class="mt-4 px-4 py-2 bg-gray-400 text-white rounded-md hover:bg-teal-600">
                                                                            Add Item
                                                                        </button>
                                                                    </div>
                                                                </div>
            </div>

            <!-- DETAILS -->
            <div class="mt-2">
                <label for="details" class="block text-gray-700">Details</label>
                <textarea name="details" id="details"
                    class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500"><%= event.details %></textarea>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-2">
                <!-- START DATE/TIME -->
                <div id="dateSection">

                    <!-- START TIMES -->
                    <% if (dates.length===1) { %>
                        <div class="grid grid-cols-3 gap-4">
                            <div>
                                <label for="date" class="block text-gray-700">Date</label>
                                <input name="date" required type="date" id="date"
                                    value="<%= new Date(dates[0].date).toISOString().split('T')[0] %>"
                                    class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                            </div>
                            <div>
                                <label for="starttime" class="block text-gray-700">Start Time</label>
                                <input name="starttime" required type="time" id="starttime"
                                    value="<%= event.starttime %>"
                                    class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                            </div>
                            <div>
                                <label for="plannedduration" class="block text-gray-700">Planned Duration (hrs)</label>
                                <input name="plannedduration" required type="number" id="plannedduration"
                                    value="<%= event.plannedduration %>" min="0"
                                    class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                            </div>
                        </div>
                        <% } else { %>
                            <div class="grid grid-cols-3 gap-4">
                                <div>
                                    <label for="date" class="block text-gray-700">Date</label>
                                    <input name="date" required type="date" id="date"
                                        value="<%= new Date(dates[0].date).toISOString().split('T')[0] %>"
                                        class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                                </div>
                                <div>
                                    <label for="starttime" class="block text-gray-700">Start Time</label>
                                    <input name="starttime" required type="time" id="starttime"
                                        value="<%= event.starttime %>"
                                        class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                                </div>
                                <div>
                                    <label for="plannedduration" class="block text-gray-700">Planned
                                        Duration (hrs)</label>
                                    <input name="plannedduration" required type="number" id="plannedduration"
                                        value="<%= event.plannedduration %>" min="0"
                                        class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                                </div>
                                <% dates.slice(1).forEach(function(date, index) { %>
                                    <div class="grid grid-cols-1 gap-4">
                                        <div>
                                            <label for="date" class="block text-gray-700">Date</label>
                                            <div class="flex flex-col gap-1 items-end">
                                                <input name="date" required type="date" id="date"
                                                    value="<%= new Date(date.date).toISOString().split('T')[0] %>"
                                                    class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                                                <button type="button"
                                                    onclick="deleteDate(this, '<%= new Date(date.date).toISOString() %>')"
                                                    class="mt-2 px-4 py-2 cursor-pointer bg-red-500 text-white text-xs rounded-md hover:bg-red-600">
                                                    Delete
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <% }); %>
                                        <% } %>
                            </div>

                            <!-- ADD DATE BUTTON -->
                            <div class="col-span-2">
                                <button type="button" onclick="addDate()"
                                    class="mt-4 px-4 py-2 bg-gray-400 text-white rounded-md hover:bg-teal-600">
                                    Add Date Option
                                </button>
                            </div>
                </div>

                <!-- CONTACT INFO -->
                <% if (event.organization) { %>
                    <div id="contactSection">
                        <div class="grid grid-cols-1 gap-4">
                            <% requesters.forEach(function(requester) { %>
                                <div class="grid grid-cols-4 gap-4">
                                    <div>
                                        <label for="firstname" class="block text-gray-700">First Name</label>
                                        <input name="firstname" type="text" id="firstname" disabled
                                            value="<%= requester.firstname %>"
                                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                                    </div>
                                    <div>
                                        <label for="lastname" class="block text-gray-700">Last Name</label>
                                        <input name="lastname" type="text" id="lastname" disabled
                                            value="<%= requester.lastname %>"
                                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                                    </div>
                                    <div>
                                        <label for="phone" class="block text-gray-700">Phone</label>
                                        <input name="phone" type="text" id="phone" value="<%= requester.phone %>"
                                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                                    </div>
                                    <div>
                                        <label for="email" class="block text-gray-700">Email</label>
                                        <input name="email" type="email" id="email" value="<%= requester.email %>"
                                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                                    </div>
                                </div>
                                <% }); %>
                        </div>
                        <!-- ADD REQUESTER BUTTON -->
                        <div class="col-span-2">
                            <button type="button" onclick="addContact()"
                                class="mt-4 px-4 py-2 bg-gray-400 text-white rounded-md hover:bg-teal-600">
                                Add Another Contact
                            </button>
                        </div>
                    </div>
                    <% } %>
            </div>

            <!-- TEMPLATE FOR NEW DATE -->
            <template id="dateTemplate">
                <div>
                    <div>
                        <label for="date" class="block text-gray-700">Date</label>
                        <div class="flex flex-col gap-1 items-end">
                            <input name="date" required type="date" id="date" value=""
                                class="mt-2 w-full min-w-44 px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                            <button type="button" onclick="this.parentElement.parentElement.parentElement.remove()"
                                class="mt-2 px-4 py-2 cursor-pointer bg-red-500 text-white text-xs rounded-md hover:bg-red-600">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </template>

            <!-- TEMPLATE FOR NEW CONTACT -->
            <template id="contactTemplate">
                <div class="grid grid-cols-4 gap-4">
                    <div>
                        <label for="firstname" class="block text-gray-700">First Name</label>
                        <input name="firstname" type="text" id="firstname" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                    <div>
                        <label for="lastname" class="block text-gray-700">Last Name</label>
                        <input name="lastname" type="text" id="lastname" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                    <div>
                        <label for="phone" class="block text-gray-700">Phone</label>
                        <input name="phone" type="text" id="phone" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                    <div>
                        <label for="email" class="block text-gray-700">Email</label>
                        <input name="email" type="email" id="email" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                </div>
            </template>

            <!-- TEMPLATE FOR NEW ITEM -->
            <template id="itemTemplate">
                <div>
                    <label for="item" class="block text-gray-700">Item</label>
                    <select name="item" id="item"
                        class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                        <% items.forEach(function(item) { %>
                            <option value="<%= item.itemid %>">
                                <%= item.description %>
                            </option>
                            <% }); %>
                    </select>
                </div>
                <div>
                    <label for="quantity" class="block text-gray-700">Quantity</label>
                    <input name="quantity" type="number" id="quantity" value="<%= event.quantity %>"
                        class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                </div>
            </template>
        </form>
    </div>
</body>

</html>