<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer Management</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<script>
    // Show modal for editing user details
    function openModal(volunteer) {
        const zip = volunteer.zip;
        let city = '';
        let state = '';

        fetch(`/getCityState?zip=${zip}`)
            .then(response => response.json())
            .then(data => {
                city = data.places[0].city;
                state = data.places[0].state;

                document.getElementById('modalCity').value = city;
                document.getElementById('modalState').value = state;
            });

        document.getElementById('modalFirstName').value = volunteer.firstname;
        document.getElementById('modalLastName').value = volunteer.lastname;
        document.getElementById('modalEmail').value = volunteer.email;
        document.getElementById('modalPhoneNumber').value = volunteer.phonenumber;
        document.getElementById('modalSkillId').value = volunteer.skillid;
        document.getElementById('modalZip').value = volunteer.zip;
        document.getElementById('modalNotes').value = volunteer.notes;
        document.getElementById('modalAvailability').value = volunteer.availability;
        document.getElementById('modalDiscoveryMethod').value = volunteer.discoverymethod;
        document.getElementById('modalRange').value = volunteer.range;
        document.getElementById('modalLeader').checked = volunteer.leader;
        document.getElementById('modalTeacher').checked = volunteer.teacher;
        document.getElementById('modalPassword').value = volunteer.password;
        document.getElementById('modalJobRole').value = volunteer.jobrole;
        document.getElementById('editModal').classList.remove('hidden');
    }

    function handleCancel() {
        document.getElementById('deleteBtn').classList.remove('hidden');
        document.getElementById('saveBtn').classList.remove('hidden');
        document.getElementById('editVolunteerForm').action = '/editVolunteer';
        document.getElementById('editModal').classList.add('hidden');
    }

    function filterVolunteers() {
        const searchInput = document.getElementById('searchBar').value.toLowerCase();
        const volunteerCards = document.querySelectorAll('#volunteer-card');

        volunteerCards.forEach(card => {
            const volunteerName = card.querySelector('#volunteer-name').textContent.toLowerCase();
            if (volunteerName.includes(searchInput)) {
                card.classList.remove('hidden');
            } else {
                card.classList.add('hidden');
            }
        });
    }
</script>

<body class="bg-gray-50 font-sans">
    <div class="container mx-auto py-12 px-6 space-y-6">
        <div class="flex flex-row justify-between items-center">
            <h1 class="text-3xl font-bold text-gray-800 mb-8 mt-10">Volunteer Management</h1>

            <!-- SEARCH BAR -->
            <div class="flex flex-row justify-between items-center">
                <input type="text" id="searchBar" oninput="filterVolunteers()"
                    class="w-96 px-4 py-2 border rounded-lg outline-teal-600 shadow-sm focus:ring-teal-500 focus:border-teal-500"
                    placeholder="Search for a volunteer...">
            </div>
        </div>

        <!-- VOLUNTEER LIST -->
        <div class="space-y-4">
            <% if (volunteers && volunteers.length> 0) { %>
                <% volunteers.forEach(volunteer=> { %>
                    <div id="volunteer-card" class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg cursor-pointer"
                        onclick='openModal(<%= JSON.stringify(volunteer) %>)'>
                        <div class="flex flex-row justify-between items-center">
                            <div class="flex flex-col justify-between items-start">
                                <h3 id="volunteer-name" class="text-xl font-semibold text-gray-700">
                                    <%= volunteer.firstname %>
                                        <%= volunteer.lastname %>
                                </h3>
                                <p class="mt-2 text-gray-600"><strong>Email:</strong>
                                    <%= volunteer.email %>
                                </p>
                            </div>
                            <div>
                                <% if (volunteer.jobrole!=='Volunteer' ) { %>
                                    <svg fill="#14b8a6" class="h-10 w-10 hover:animate-pulse duration-50 transition-all"
                                        version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 338.199 338.199"
                                        xml:space="preserve">
                                        <g id="XMLID_311_">
                                            <g>
                                                <g>
                                                    <path
                                                        d="M127.088,141.809l-36.345-50.03c-10.148,8.759-18.831,19.169-25.586,30.845H60c-33.138,0-60,26.863-60,60h49.1
                                                    c0,9.446,1.098,18.634,3.161,27.451l58.864-19.127L127.088,141.809z" />
                                                    <path
                                                        d="M194.916,130.062v-0.001l36.354-50.055c-6.963-4.227-14.374-7.788-22.17-10.544V42.624c0-22.091-17.908-40-40-40
                                                    c-22.092,0-40,17.909-40,40v26.838c-7.797,2.756-15.209,6.318-22.172,10.545l36.354,50.054H194.916z" />
                                                    <path
                                                        d="M58.44,229.109c4.555,10.831,10.649,20.854,18.017,29.792c-14.349,25.382-8.402,58.125,15.238,76.673l32.629-41.589
                                                    c10.891,4.383,22.571,7.21,34.769,8.219l0.004-61.827l-41.823-30.392L58.44,229.109z" />
                                                    <path
                                                        d="M278.199,122.624h-5.157c-6.755-11.676-15.439-22.086-25.587-30.846l-36.344,50.029l15.963,49.14l58.864,19.126
                                                    c2.063-8.816,3.161-18.004,3.161-27.449h49.1C338.199,149.487,311.337,122.624,278.199,122.624z" />
                                                    <path
                                                        d="M220.926,209.984l-41.822,30.391l0.005,61.828c12.196-1.009,23.877-3.836,34.767-8.219l32.629,41.589
                                                    c23.641-18.548,29.588-51.29,15.238-76.673c7.367-8.937,13.462-18.961,18.017-29.791L220.926,209.984z" />
                                                    <polygon
                                                        points="192.764,150.06 145.436,150.06 130.807,195.096 169.1,222.922 207.393,195.096 			" />
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    <% } %>
                            </div></svg>
                        </div>
                    </div>
                    <% }) %>
                        <% } else { %>
                            <div class="bg-white p-6 rounded-lg shadow-md">
                                <p class="text-gray-700">No volunteers available.</p>
                            </div>
                            <% } %>
        </div>
    </div>

    <!-- EDIT USER MODAL -->
    <div id="editModal" class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex justify-center items-center z-50">
        <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-3xl">
            <h2 class="text-2xl font-bold text-gray-800 mb-4">Edit User Details</h2>
            <form id="editVolunteerForm" action="/editVolunteer" method="POST">
                <div class="space-y-4">

                    <!-- NAME -->
                    <div class="grid grid-cols-4 gap-4">
                        <div>
                            <label for="modalFirstName" class="block text-gray-700">First Name</label>
                            <input type="text" id="modalFirstName" name="firstname"
                                class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500"
                                required>
                        </div>
                        <div>
                            <label for="modalLastName" class="block text-gray-700">Last Name</label>
                            <input type="text" id="modalLastName" name="lastname"
                                class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500"
                                required>
                        </div>
                        <div>
                            <label for="modalEmail" class="block text-gray-700">Email</label>
                            <input type="email" id="modalEmail" name="email" disabled
                                class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500"
                                required>
                        </div>
                        <div>
                            <label for="modalPhoneNumber" class="block text-gray-700">Phone Number</label>
                            <input type="tel" id="modalPhoneNumber" name="phonenumber" max="9999999999"
                                class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500">
                        </div>
                    </div>

                    <!-- LOCATION -->
                    <div class="grid grid-cols-3 gap-4">
                        <div>
                            <label for="modalCity" class="block text-gray-700">City</label>
                            <!-- TODO GET THE CITY -->
                            <input type="text" id="modalCity" name="city" value=""
                                class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500">
                        </div>
                        <div>
                            <label for="modalState" class="block text-gray-700">State</label>
                            <select id="modalState" name="state"
                                class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500">
                                <option value="" disabled>Select State</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </div>
                        <div>
                            <label for="modalZip" class="block text-gray-700">Zip</label>
                            <input type="number" id="modalZip" name="zip" max="99999"
                                class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500">
                        </div>
                    </div>

                    <!-- SKILL LEVEL, ETC -->
                    <div class="grid grid-cols-3 gap-4">
                        <div class="flex flex-col">
                            <label for="modalSkillId" class="block text-gray-700">Skill Level</label>
                            <select id="modalSkillId" name="skillid"
                                class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500">
                                <% skilllevel.forEach(skill=> { %>
                                    <option value="<%= skill.skillid %>" <%=skill.skillid===skill.skillid ? 'selected'
                                        : '' %> >
                                        <%= skill.description %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div class="flex flex-col">
                            <label for="modalAvailability" class="block text-gray-700">Availability</label>
                            <input type="text" id="modalAvailability" name="availability"
                                class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500">
                        </div>
                        <div class="flex flex-col">
                            <label for="modalDiscoveryMethod" class="block text-gray-700">Discovery Method</label>
                            <select id="modalDiscoveryMethod" name="discoverymethod"
                                class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500">
                                <option value="Family">Family</option>
                                <option value="Friend">Friend</option>
                                <option value="Past Event">Past Event</option>
                                <option value="Social Media">Social Media</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>

                    <!-- RANGE, TEACHER, LEADER, NOTES -->
                    <div class="grid grid-cols-3 gap-4">
                        <!-- Range (on the left) -->
                        <div class="flex flex-col">
                            <label for="modalRange" class="block text-gray-700">Range (in miles)</label>
                            <input type="text" id="modalRange" name="range"
                                class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500">
                        </div>

                        <!-- Teacher and Leader (on the same row, Teacher above Leader) -->
                        <div class="flex flex-col space-y-2">
                            <div class="flex items-center space-x-2 justify-start">
                                <label for="modalTeacher" class="block text-gray-700">Teacher</label>
                                <input type="checkbox" id="modalTeacher" name="teacher"
                                    class="w-4 h-4 border rounded-lg focus:ring-teal-500 focus:border-teal-500">
                            </div>

                            <div class="flex items-center space-x-2 justify-start">
                                <label for="modalLeader" class="block text-gray-700">Leader</label>
                                <input type="checkbox" id="modalLeader" name="leader"
                                    class="w-4 h-4 border rounded-lg focus:ring-teal-500 focus:border-teal-500">
                            </div>
                        </div>

                        <!-- Notes (on the right) -->
                        <div class="flex flex-col col-span-1">
                            <label for="modalNotes" class="block text-gray-700">Notes</label>
                            <textarea id="modalNotes" name="notes"
                                class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500"></textarea>
                        </div>
                    </div>

                    <!-- USER SETTINGS -->
                    <div class="grid grid-cols-3 gap-4">
                        <div>
                            <label for="modalPassword" class="block text-gray-700">Password</label>
                            <input type="text" id="modalPassword" name="password"
                                class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500">
                        </div>
                        <div>
                            <label for="modalJobRole" class="block text-gray-700">Job Role</label>
                            <select id="modalJobRole" name="jobrole"
                                class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500">
                                <option value="Volunteer">Volunteer</option>
                                <option value="Administrator">Administrator</option>
                            </select>
                        </div>
                    </div>

                    <!-- BUTTONS -->
                    <div class="mt-6 flex justify-between gap-4">
                        <button type="button" onclick="handleCancel()"
                            class="px-6 py-2 bg-gray-600 text-white rounded-lg shadow-md hover:bg-gray-700">Cancel</button>
                        <div class="flex flex-row gap-4">
                            <button id="deleteBtn" type="button"
                                onclick="document.getElementById('editVolunteerForm').action='/deleteVolunteer'; document.getElementById('editVolunteerForm').submit();"
                                class="px-6 py-2 bg-red-300 text-white rounded-lg shadow-md hover:bg-red-700">Delete</button>
                            <button id="saveBtn" type="submit"
                                class="px-6 py-2 bg-teal-500 text-white rounded-lg shadow-md hover:bg-teal-600">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>